.signIn{
    background-image: url(https://img.freepik.com/premium-vector/horizontal-background-with-smooth-gradient-vector-illustration_522680-329.jpg);
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginForm{
    background-color: white;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
}
.loginForm2{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 5px;
    border: rgba(var(--f52,142,142,142),1);
    border-radius: 10px;
    color: white;

}
#login-btn{
    background-color: #1773EA;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    width: 100%;
    cursor: pointer;
    margin-top: 8px;
}
.signUpLogo{
    height: 120px;
    width: 120px;
    border-radius: 20px;
}